body {
	background-color: #e9e9e9;
}

.contain-to-grid {
	z-index: 100;
	width: 100%;	
	//position:fixed;
}

.top-bar {
	//background-color: #d6d8dd;
	background-color: #fefefe;
}

.top-bar ul {
	background-color: transparent;
}

.top-bar ul li,
.top-bar .menu > li > a,
.footer ul li,
.footer .menu > li > a {
	color: #292d35;
}

.top-bar .menu > li > a.button,
.top-bar .menu > li > a.button:hover {
	color: #fefefe;
}

.top-bar .menu > li > a:hover,
.footer .menu > li > a:hover {
	color: #b5b9bd;
}


.footer {
	bottom: 0;
	height: 100px;
	width: 100%;
}

.footer .right-footer li {
	float:right;
}

.main {
	padding-top: 100px;
	margin-bottom: 125px;
}

.main .title {
	padding-bottom: 25px;
}

.main h2 {
	text-align: center;
	color: #545454;
	font-weight: 500;
}

.no-padding {
	padding: 0;
}

.main .search-button .button{
	width: 100%;
}

.main .switch .switch-paddle {
	background-color: #6ec4db;
	width: 6rem;
}

.main .switch .switch-paddle:hover {
	background-color: #99d3df
}

.main .switch .switch-paddle .switch-inactive {
	right: 8%;
}

.main .switch input:checked ~ .switch-paddle::after {
	left: 3.75rem;
}

.main .slider,
.main .slider .slider-fill {
	background-color: #b5b9bd;
}

.main .slider .slider-handle {
	background-color: #6ec4db;
}

.main .slider .slider-handle:hover {
	background-color: #99d3df;
}

.main .search-options .slider-label {
	padding-top: 5px;
}

.main .search-options .slider-label p {
	font-size: 20px;	
	color: #545454;
}

.main .search-options .span-label {
	position: relative;
}

.main .search-options .span-label span{
	position: absolute;
	font-size: 12px;
	top: 22%;
	left: 36%;
}

.result-title {
	margin-bottom: 25px;
}

.button {
	background-color: #6ec4db;
}

.button:hover {
	background-color: #99d3df;
}
